body {
    font-family: Arial, Helvetica, sans-serif;
}

.profile { 
    width: 1280px;
    display: block;
    margin: 0 auto;
}

.section {
    padding: 50px;
}

.section_blue {
    background-color: #445162;
}

.section_white {
    background-color: white;
}

.section_gray {
    background-color: #f5f5f5;
}

.main-section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.section__img {
    width: 40%;
    margin-left: 85px;
}

.main-article_white {
    color: white;
}

.main-article_blue {
    color: #445161;
}

.main-article__title {
    font-size: 60px;
    margin-bottom: 50px;
}

.main-article-h2__title {
    font-size: 30px;
    margin-bottom: 30px;
}
.main-article-h2_center {
    text-align: center;
}
.main-article__text {
    font-size: 16px;
    line-height: 24px;
}
.main-artiсle__list  {
    font-size: 20px;
}

.main-article__list_wrap {
    display: flex;
    flex-wrap: wrap;
}

.main-article__item {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.main-article__item::before {
    margin-right: 10px;
    content: url(../assets/check_icon.png);
}

.main-article__item_wrap {
    flex-basis: 30%;
    display: block;
}

.main-article__item_wrap2 {
    flex-basis: 50%;
    display: block;
}

.main-article__item2 {
    font-size: 16px;
    line-height: 24px;
    padding-right: 20px;
    margin-bottom: 30px;
}
.main-article__item2::before {
    content: url(../assets/plus_icon.png);
    padding-right: 10px;
    padding-bottom: 90px;
}

.main-article__item3 {

}

.main-article__item3::before {
     content: url(../assets/blue_square_small.png);
 }

.main-article_text-description-title {
     font-size: 24px;
     margin-bottom: 16px;
 }

.main-article_text-description-text {
     font-size: 16px;
     line-height: 24px;
     margin-bottom: 16px;
 }

.main-article-div {
    background-image: url(../assets/quote_bg.png);
    display: block;
 }

.article-screenshot-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}