@charset 'utf-8';

@import 'variables';
@import 'mixins';

body {
    font-family: Arial, Helvetica, sans-serif;
}
.body_hide {
    opacity: 0;
}
.body_show {
    opacity: 1;
    transition: opacity 3s;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
    line-height: 36px
}

h3 {
    font-size: 24px;
}

.profile { 
    width: $page-width;
    display: block;
    margin: 0 auto;
}

.footer {
    width: $page-width;
    text-align: center;
    background-color: $white-color;
    margin: 10px auto;
}

.section {
    padding: 50px;
    &_blue {
        background-color: $blue-color;
    }
    
    &_white {
        background-color: $white-color;
    }
    
    &_gray {
        background-color: $gray-color;
    }
}


.article__title {
    margin-bottom: $title-mrg-bot;
    &_center {
        text-align: center;
    }
}

.article_white {
    color: $white-color;
}

.article_blue {
    color: $blue-color;
}

.anchors {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: $gray-color;
}

.anchor {
    padding: 5px;
    text-decoration: none;
    border: 1px solid;
    font-weight: bold;
    color: $blue-color;
}

.gotop {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
    &_center {
        text-align: center;
        margin: 5px;
    }
}

.back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    border-radius: 8px 8px 0px 0px;
    z-index: 999;
    display: inline;
    cursor: pointer;
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #4d647b;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

/* Product styles */
.product {
    @include flex_flow;

    &-article {

        &__title {
            margin-bottom: 50px;
        }
        
        &__list {
            font-size: 20px;
            
            
        }

        &__item {
            margin-bottom: 10px;
            
            &::before {
                margin-right: 10px;
                content: url(../assets/check_icon.png);
            }
        }

    }

    &__img {
        margin-left: 15px;
    }
    &-buttons {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;

        &__button {
            width: 120px;
            font-weight: bold;
            color: $blue-color;
        }
    }
    &_show {
        @include flex_flow;
        transition: 1s ease-out;
        transition-delay: 2s;
    }
    
    &_hide {
        display: none;
        transition: 1s ease-out;
        transition-delay: 2s;
    }
}


/* Product styles end */

/* About styles */
.about {
    @include flex_flow;
    align-items: center;

    &-article {

        &__title {
            margin-bottom: $title-mrg-bot;
        }

        &__text {
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 20px;
        }
    }
    &-slider {
        margin-left: 15px;
        padding: 10px;
        
        &__name {
            color: $white-color;
            text-align: center;
            font-weight: bold;
            margin-bottom: 5px;
        }

        &__list {
            position: relative;
            width: 280px;
            height: 375px;
        }

        &__img {
            position: absolute;
            left: 0;
            opacity: 0;
            transition: opacity 1s;
        }
    }

    // &__img {
    //     // margin-left: 15px;
    // }
    
    &-buttons {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;

        &__button {
            width: 70px;
            font-weight: bold;
            color: $blue-color;
        }
    }
}

.showed {
    opacity: 1;
}

/* About styles end */

/* Dignity styles */

.dignity-article__list {
    @include flex_wrap;
}

.dignity-article__item {
    font-size: 16px;
    line-height: 24px;
    padding-right: 20px;
    margin-bottom: 30px;
    flex-basis: 30%;
    &::before {
        content: url(../assets/plus_icon.png);
        padding-right: 10px;
    }
}

/* Dignity styles end */

/* Screenshots styles */

.screenshots-article__list_wrap {
    @include flex_wrap;
}

.screenshots-article__item {
    margin-bottom: 30px;
}

.screenshots-item__block_wrap {
    @include flex_wrap (flex, wrap, space-around);
}
.screenshots-block__img {
    width: auto;
    flex-basis: auto;
    margin: 0px;
}

.screenshots-block__text {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 24px;
    flex-basis: 63%;
    position: relative;
    width: 100%;
    margin: auto;   
    top: 1px;
    left: 1px;
}
.screenshots-block__title {
    margin-bottom: 16px;
}
    
.screenshot-article__item_wrap {
    @include flex-wrap;
    flex-basis: 50%;
}

/* Screenshots styles end */

/* Reviews end */

.reviews-article {
    @include flex_wrap (flex, wrap, space-around);
    position: relative;
    
    &__block {
       @include flex_wrap;
       font-size: 14px;
    }
}
.reviews-block__item {
    flex-basis: 49%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    font-size: 14px;

}
.reviews-item__img {
    margin-right: 16px;
}

 .reviews-item_bg {
    background-image: url(../assets/quote_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}
.reviews-item__text {
     padding-left: 30px;
}
.reviews-item__name {
    color: #989898;
    margin-top: 10px;
    padding-left: 30px;
}

/* Reviews styles end */

/*  Buy it now styles */

.buytinow-article__collums {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

.buytinow-collums__collum {
    @include flex_flow (flex, column, center);
    background-color: #445162;
    margin: 22px;
    border-radius: 10px;
    
}
.buyitnow-collum__head {
    color: $white-color;
    text-align: center;
    font-size: 24px;
    margin: 17px 105px;
}

.buyitnow-collum__price {
    background-color: $white-color;
    text-align: center;
    font-size: 40px;
    padding: 17px 105px;
    border: solid $blue-color;
}

.buyitnow-collum__list {
    color: $white-color;
    line-height: 24px;
    list-style: decimal;
    padding: 0 20px;
    font-size: 14px;
}
.buyitnow-list__item {
    margin: 10px;
}
        
.buyitnow-collum__button {
    padding: 14px 115px;
    margin: 20px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
}

/*  Buy it now styles end */

/* Contacts styles */

.contacts-article__block {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.contacts-block__input {
    @include flex-flow (flex, column, center);              
}
.contacts-input__field {
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: $radius;
    width: 500px;

    &_small {
        height: 40px;
    }
    
    &_big {
        height: 170px;  
    }
}

.contacts-input__button {
    height: 40px;
    width: 140px;
    border-radius: $radius;
    margin: auto;
    font-weight: bold;
}

.contacts-block__info {
    display: flex;
    flex-flow: column;
    margin-left: 45px;
}
.contacts-info__item {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.contacts-item__img {
    margin-right: 5px;
}

/* Contacts styles end */