@import 'reset';

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
    line-height: 36px
}

h3 {
    font-size: 24px;
}

.profile { 
    width: 1280px;
    display: block;
    margin: 0 auto;
}

.footer {
    width: 1280px;
    text-align: center;
    background-color: white;
    margin: 10px auto;
}

.section {
    padding: 50px;
}

.section_blue {
    background-color: #445162;
}

.section_white {
    background-color: white;
}

.section_gray {
    background-color: #f5f5f5;
}

.article__title {
    margin-bottom: 30px;
}

.article__title_center {
    text-align: center;
}

.article__text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;
}

.article_white {
    color: white;
}

.article_blue {
    color: #445161;
}

/* Product styles */
.product {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.product-article__title {
    margin-bottom: 50px;
}

.product-artiсle__list  {
    font-size: 20px;
}

.product-article__item {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-article__item::before {
    margin-right: 10px;
    content: url(../assets/check_icon.png);
}
.product__img {
    width: 40%;
    margin-left: 85px;
}

/* Product styles end */

/* About styles */
.about {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.about__img {
    width: 40%;
    margin-left: 85px;
}

/* About styles end */

/* Dignity styles */

.dignity-article__list_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dignity-article__item {
    font-size: 16px;
    line-height: 24px;
    padding-right: 20px;
    margin-bottom: 30px;
}

.dignity-article__item::before {
    content: url(../assets/plus_icon.png);
    padding-right: 10px;
    padding-bottom: 90px;
}

.dignity-article__item_basis {
    flex-basis: 30%;
}

/* Dignity styles end */

/* Screenshots styles */

.screenshots-article__list_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots-article__item {
    margin-bottom: 30px;
}

.screenshot-article__item_wrap {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots-item__block_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.screenshots-block__img {
    width: auto;
    flex-basis: auto;
    margin: 0px;
    height: fit-content;
}

.screenshots-block__text {
    display: flex;
    flex-wrap: wrap;
}

.screenshots-block__text_flex {
    flex-basis: 63%;
    position: relative;
    width: 100%;
    margin: auto;   
    top: 1px;
    left: 1px;
}

.screenshots-block__title {
     margin-bottom: 16px;
 }

 .screenshots-text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
  }

/* Screenshots styles end */

/* Reviews end */

.reviews-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.reviews-article__block {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   font-size: 14px;
}

.reviews-block__item {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    font-size: 14px;
}

.reviews-item__img {
    margin-right: 16px;
    height: fit-content;
}

.reviews-item__bg {
    background-image: url(../assets/quote_bg.png);
    background-repeat: no-repeat;
    padding: 20px;
 }

 .reviews-item__text {
     color: #989898;
     margin-top: 10px;
 }

/* Reviews styles end */

/*  Buy it now styles */

.buytinow-article__collums {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.buytinow-collums__collum {
    background-color: #445162;
    margin: 22px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 10px;
}

.buyitnow-collum__head {
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 17px 105px;
}

.buyitnow-collum__price {
    background-color: white;
    text-align: center;
    font-size: 40px;
    padding: 17px 105px;
    border: solid #445161;
}

.buyitnow-collum__list {
    color: white;
    line-height: 24px;
    list-style: decimal;
    padding: 0 20px;
    font-size: 14px;
}

.buyitnow-list__item {
    margin: 10px;
}

.buyitnow-collum__button {
    padding: 14px 115px;
    margin: 20px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
}
/*  Buy it now styles end */

/* Contacts styles */

.contacts-article__block {
    display: flex;
    justify-content: center;
}

.contacts-block__input {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.contacts-input {
    margin-bottom: 20px;
}

.contacts-input__field {
    padding-left: 10px;
}

.contacts-input__field_height {
    height: 40px;
    width: 500px;
    border-radius: 10px;
}

.contacts-input__field_width {
    height: 170px;
    width: 500px;
    border-radius: 10px;
}

.contacts-input__button {
    height: 40px;
    width: 140px;
    border-radius: 10px;
}

.contacts-input__button_center {
    margin: auto;
}

.contacts-block__info {
    display: flex;
    flex-flow: column;
    margin-left: 45px;
}

.contacts-info__item {
    margin-bottom: 30px;
}

.contacts-item__img {
    margin-right: 5px;
}
/* Contacts styles end */